body{
  background-color: #02143c;
  font-family: Century Gothic;
}

h1{
  font-size: 45px;
}

h3{
  font-size: 20px;
  text-align: center;
}

header{
  text-align: center;
  color: black;
  margin: 30px;
}

span{
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: 5px 5px #09b;
}

.pink{
    background-color: #f2a;
}

.yellow{
      background-color: #ff4;
}

.green{
  background-color: #5d8
}

/*text will dicatate the rules of most of the text on the page*/ 
.text{
  color: #09b;
  width: 85%;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

.self-portrait{
  margin: 20px;
  box-shadow: 5px 5px #09b;
}

.contact-div{
  margin: auto;
  width: 85%;
  font-size: 30px;
  color: #09b;
}

a{
  text-decoration: none;
}

a:link {color: #99f;}
a:visited {color: #f9f;}
a:hover {color: #f77; }
a:active {color: #09b}

.contact-links{
  text-decoration: none;
  font-size: 30px;
}

/*contact icons will appear side-by-side to their respective link due to the float property*/
.contact-icons{
  float: left;
  margin-right: 20px;
  border-radius: 100px;
}

hr{
  width: 85%;
  margin-top: 30px;
  border-color: #09b;
}

footer{
  text-align: center;
  color: #09b;
  height: 80px;
}
